<ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <img src="https://www.drivea.com.br/projeto/drive-a/arquivos/conteudo/senac.png">
          <h4>Cadastro Senac Rio</h4>
        </div>
        <div padding>
          <ion-item>
            <ion-input color="warning" type="text" placeholder="Nome"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-input color="warning" type="email" placeholder="E-mail"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-input color="warning" type="tel" placeholder="Telefone"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-input color="warning" type="text" placeholder="Username"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-input color="warning" type="password" placeholder="Password"></ion-input>
          </ion-item>
        </div>
  
        <div padding>
          <ion-button color="warning" fill="outline" size="large" href="" expand="block">Cadastrar</ion-button>
          <div class="ion-text-center">
            <a href="/login">Voltar</a>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>